.heading{
    font-size: 32px;
    font-weight: 600;
}

.your-balance{
    color: #666666;
    font-size: 20px;
}
.your-balance-val{
    color: red;
    font-size: 20px;
    font-weight: 600;
}

.cart-container {
    width: 100%;
    margin: 20px auto;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.custom-table th,
.custom-table td {
    border-top: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 18px;
}

.custom-table th {
    background-color: #f2f2f2;
    background-color: #fafafa;
}

.custom-table tbody tr:hover {
    background-color: #f5f5f5;
}

.quantity-column {
    width: 160px;
    text-align: center;
}

.quantity-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.quantity {
    width: 35px;
    display: inline-block;
    text-align: center;
}

.action-column {
    width: 50px;
}

.img-box {
    width: 90px;
    display: inline-block;
    /* margin-right: 8px; */
    pointer-events: none;
}

.color-selection {
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    width: 70px;
    height: 32px;
}

.size-selection {
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    width: 50px;
    height: 32px;
}

.update-cart-container{
    display: flex;
    justify-content: end;
    align-items: center;
}


.sidebox-container{
    padding: 10px 10px;
    background-color: #fafafa;
    margin-top: 20px;
    margin-left: 10px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.price-details{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.flexprop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 20px;
}
.shipping-text{
    width: 50%;
    align-self: baseline;
}
.shipping-free{
    text-decoration: line-through;
    /* margin-right: 7px; */
    color: red;
}
.shipping-address{
    font-size: 14px;
    text-align: end;
}
.red-text{
    color: red;
}
.change-address{
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-top: -20px;
    margin-bottom: 20px;
    justify-content: end;
    cursor: pointer;
}
.change-address:hover{
    color: red;
    text-decoration: underline;
}
.payment-method-container {
    margin-bottom: 10px;
}

.payment-method-select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.productName:hover{
    text-decoration: underline;
    color: red;
}

.checkout-button{
    width: 100%;
    background-color: #ff0000;
    color: white;
    border: 1px solid #ff0000;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}
.checkout-button:hover {
    background-color: rgb(200, 0, 0);
    border: 1px solid rgb(200, 0, 0);
}
.checkout-button:disabled {
    background-color: #ccc; 
    border-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 600px;
}

.modal-content {
    padding: 20px;
}

.modal-footer {
    padding: 10px;
    text-align: right;
}
.otp-autoclose{
    font-size: 10px;
    color: red;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    display: none;
}

.fade-in-open {
    display: block;
}

.fade-in-close {
    display: none;
}
.payment-title{
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}
.otp-email{
    color:#7b7b7b;
}