.default-button {
    width: 100%;
}

.register-button {
    width: 100%;
    background-color: red;
    color: white;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 3px;
    padding: 10px;
    margin: 10px 0;
}

.register-button:hover {
    background-color: rgb(200, 0, 0);
    border: 1px solid rgb(200, 0, 0);
}

.addtocart-button {
    width: 100%;
    background-color: red;
    color: white;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

.addtocart-button:hover {
    background-color: rgb(200, 0, 0);
    border: 1px solid rgb(200, 0, 0);
}

.buynow-button{
    width: 100%;
    background-color: #ff0000;
    color: white;
    border: 1px solid #ff0000;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}
.buynow-button:hover {
    background-color: rgb(200, 0, 0);
    border: 1px solid rgb(200, 0, 0);
}
.updatecart-button{
    width: 80%;
    background-color: #000000;
    color: white;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}
.updatecart-button:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    color: #000000;
}

.review-button{
    width: 100%;
    background-color: rgb(44, 190, 0);
    color: white;
    border: 1px solid rgb(44, 190, 0);
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}
.review-button:hover {
    background-color: rgb(32, 139, 0);
    border: 1px solid rgb(32, 139, 0);
}