.review-star{
display: flex;
margin-bottom: 8px;
}
.review-body{
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    font-size: 16px;
    padding: 8px 0;
}
.review-product{
    font-size: 20px;
    margin-bottom: 8px;
}
.review-des-box{
    margin-bottom: 8px;
}
.review-des{
    font-size: 14px;
    color: #8f8f8f;
}
.review-image{
    /* display: flex;
    justify-items: center;
    align-items: center; */
    text-align: center;
}

.review-image img{
    max-width: 80%;
}
.review-date{
    margin-bottom: 8px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 600px;
}

.modal-content {
    padding: 20px;
}

.modal-footer {
    padding: 10px;
    text-align: right;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    display: none;
}

.fade-in-open {
    display: block;
}

.fade-in-close {
    display: none;
}