/* categoryNav.css */

.category-nav {
    background-color: #fff1f1;
    padding: 10px;
    border-radius: 60px;
}

.category-nav ul {
    list-style-type: none; /* Remove bullet points from list */
    padding: 0;
    margin: 0;
}

.category-nav li {
    margin-bottom: 5px; /* Add space between list items */
}

.category-nav a {
    display: block; /* Make anchor elements block-level */
    padding: 10px; /* Add padding to anchor elements */
    color: #333; /* Text color */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.category-nav a:hover {
    background-color: #e9ecef; /* Change background color on hover */
}

.category-nav a.active {
    background-color: #007bff; /* Active link background color */
    color: #fff; /* Active link text color */
}

.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ModernEraBold, Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.category_button{
    background-color: rgb(255, 131, 131);
    border: 1px solid rgb(255, 131, 131);
    cursor: pointer;
    color: white;
    border-radius: 25px;
    font-size: 16px;
    padding: 5px 24px;
    transition: all 0.3s;
}
.category_button:hover{
    background-color: rgb(255, 1, 1);
    border: 1px solid rgb(255, 1, 1);
    color: white;
}
