/* Cart Container */
.cart-container {
    width: 100%;
    margin: 20px auto;
}

/* Custom Table Styling */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.custom-table th,
.custom-table td {
    border-top: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.custom-table th {
    background-color: #f2f2f2;
    background-color: #fafafa;
}

/* Table Rows */
.custom-table tbody tr:hover {
    background-color: #f5f5f5;
}

/* Quantity Column */
.quantity-column {
    width: 160px;
    /* Set a fixed width for the quantity column */
    text-align: center;
    /* Center-align the content */
}

/* Quantity Button */
.quantity-button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

/* Quantity Text */
.quantity {
    width: 35px;
    display: inline-block;
    text-align: center;
}

/* Action Buttons */
.slds-button-icon {
    cursor: pointer;
}

/* Hover effect on Action Buttons */
.slds-button-icon:hover {
    background-color: #ddd;
}

.action-column {
    width: 50px;
}

.img-box {
    width: 50px;
    display: inline-block;
    margin-right: 8px;
}

.color-selection {
    border: 1px solid #f2f2f2;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    width: 70px;
    height: 32px;
}

.size-selection {
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    width: 50px;
    height: 32px;
}